 
 .imag1{
    width: 200px;
    height: 200px;
    border-radius: 10px;
} 
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box1{
    width: 20%;
    
    /* background-color: aliceblue; */
    margin: 20px;
    padding: 15px;
    text-align: center;
    /* border: 1px solid gainsboro; */
    border-radius: 10px;
}
.imag1:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.imag{
    width: 100px;
    height: 100px;
}
.logo{
    width: 100px;
    border-radius: 50%;
}
.navbar ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a i{
    margin-left: 10px;
}
.navbar form input{
    position: relative;
}
.navbar form i{
    position: absolute;
    top: 45%;
    right: 10%;
    color: rgb(172, 175, 177);
}
.fa-user{
    
    font-size: 25px;
    color:rgb(100, 98, 98);
    
}
.fa-user-plus{
    
    font-size: 25px;
    color:rgb(100, 98, 98);
}
.navbar{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}